{% extends 'back.html.twig' %}

{% block centent %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>I am admin</h1>
            </div>

            <div id="status">
                 <h2>What's status?</h2>
            </div>

            <div id="next">
                <h2>What's next?</h2>
            </div>

        </div>
    </div>
{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="">Table de bord</a> </li>
        <li class="active">Listes des utilisateurs</li>

    </ul>
{% endblock %}
